<div id="titulo-ranking">
    <!--titulo-->
    <p>TOP 10</p>
</div>
<div id="ranking">
     <!--muestra los 10 primeros jugadores en orden descendente a nivel global-->
    @for(item of jugadores; track item; let posicion = $index){
        <div class="mostrarJugador">
            <div><p>{{posicion+1}}</p></div>
            <div class="nombre"><p>{{jugadores[posicion].name | uppercase}}</p></div>
            <div class="puntos"><p>{{jugadores[posicion].puntos | number}} ⭐</p></div>
        </div>
    }
    
</div>
