<div id="content_forget_password">
    @if(send == 'true'){
        @if(!contrasenaCambiada){
            <form [formGroup]="formPasswordForget" (submit)="cambiarcontrasena()">
            <label for="">Nueva contraseña</label>
            <input type="password" class="entrada" formControlName="newPassword" name="" id="">
            <p id="error">{{errorPassword}}</p>
            <label for="">Confirmar contraseña</label>
            <input type="password"class="entrada" formControlName="confirmPassword" name="" id="">
            <input type="submit" id="cambiar" id="cambiar" value="cambiar">
        </form>
        }@else {
            <div class="content-mensaje">
                <p>La contraseña se restauro correctamente</p>
                <a href="auth/login">iniciar sesión</a>
            </div>
        }
        
    }@else {
        @if(!mensajeEnviado){
            <form [formGroup]="formEmail" (submit)="enviarEmail()">
                <label for="email">Ingrese el correo</label>
                <input type="email" class="entrada" formControlName="email" name="" id="" placeholder="Correo">
                <input type="submit" value="Enviar" id="enviar">
            </form>
        }@else {
            <div class="content-mensaje">
                <p>Mensaje mensaje enviado</p>
            </div>
        }
       
    }
</div>