<div id="content_forget_password">
    <!--Este campo se activa cuando el servidor haya enviado un correo al email suministrado, y desde el email se valida la informacino-->
    @if(send == 'true'){
        @if(!contrasenaCambiada){
            <!--3. paso-->
            <!--formulario para el cambio de la contraseña-->
            <form [formGroup]="formPasswordForget" (submit)="cambiarcontrasena()">
            <label for="">Nueva contraseña</label>
            <input type="password" class="entrada" formControlName="newPassword" name="" id="">
            <p id="error">{{errorPassword}}</p>
            <label for="">Confirmar contraseña</label>
            <input type="password"class="entrada" formControlName="confirmPassword" name="" id="">
            <input type="submit" id="cambiar" id="cambiar" value="cambiar">
        </form>
        }@else {
            <!--4. paso-->
            <!--si todo el proceso fue exitoso, muestra el mensaje del proceso-->
            <div class="content-mensaje">
                <p>La contraseña se restauro correctamente</p>
                <a href="auth/login">iniciar sesión</a>
            </div>
        }
        
    }@else {
        <!--este campo es el principal, muestra el formulario para la combrobacion del email y envio del mensaje-->
        @if(!mensajeEnviado){
            <!--1. paso--->
            <!--formulario para el envio del email-->
            <form [formGroup]="formEmail" (submit)="enviarEmail()">
                <label for="email">Ingrese el correo</label>
                <input type="email" class="entrada" formControlName="email" name="" id="" placeholder="Correo">
                <input type="submit" value="Enviar" id="enviar">
            </form>
        }@else {
            <!--2. paso-->
            <!--mensaje despues del envio-->
            <div class="content-mensaje">
                <p>Mensaje mensaje enviado</p>
            </div>
        }
       
    }
</div>