@use '../style/estilos_generales.scss' as mx;

//estilos generales para todo lo relacionado con la autentificacion
#content_forget_password{
    @include mx.content_principal;
}

form, .content-mensaje{
    @include mx.contenedor(0.1em);
    gap: 1em;
}

.entrada{
    @include mx.entradas( #2ecc71);
}

#enviar, #cambiar{
    @include mx.boton(#58d68d,#1abc9c,white,#138d75,40%,2.5em);
    margin-top: 1em;
}

.content-mensaje{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #909497;
    text-align: center;
}

#error{
    @include mx.errors(0em,0em);
}

.content-mensaje a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #3498db;
}

.content-mensaje a{
    all:unset;
    color: black;
}