@mixin botonBasico($color-fondo,$color-text){
    margin: 1.5em 0;
    padding: 10px;
    max-width: 30%;
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    border-radius: 5px;
    color:  $color-text;
    background-color: $color-fondo;
}

@mixin botonRespuestas($color-sombra,$color-sombra-segundo,$color-borde,$color){
    min-width: 46%;
    margin: 0.7em 0.6em;
    text-align: left;
    border: 1px solid transparent;
    box-shadow: 0 0 8px $color-sombra,
                0 0 4px $color-sombra,
                0 0 1px $color-sombra inset;
    transition: border 0.2s ease, color 0.2s ease;
    cursor: pointer;

    &:hover{
       border-color: $color-borde;
       color: $color;
    }
}

@mixin boton($color-fondo,$color-fondo-segundo, $color-text,$color-text-segundo,$color-borde, $color-sombra){

    @include botonBasico($color-fondo,$color-text);
    box-shadow: 0 1px 1px $color-sombra;
    border: 1px solid transparent;
    transition:  transform 0.2s ease, color 0.2s ease,  background-color 0.2s ease;

    &:hover{
        background-color: $color-fondo-segundo;
        color: $color-text-segundo;
        border: 1px solid $color-borde;
    }
    &:active{
        transform: scale(0.95);
    }

}

@mixin contenido(){
    display: flex;
    position: absolute;
    flex-direction: column;
    border-radius: 20px;
    margin: 2em;
    padding: 2em;
    max-width: 50%;
    z-index: 1000;
}
#main_pregunta{
   display: flex;
   height: calc(100vh - 3.9em);
   justify-content: center;
}

/*esta sesion se centra en al informacion que aparece en el principio del juego*/
#content_informacion_juego{
    @include contenido;
     
    background-color: #e8daef;
    text-align: left;
    font-size: 1.2em;
    color: #884ea0;
}

#nombre-categoria{
    font-family: "IM Fell Double Pica SC", serif;
    text-align: center;
    font-size: 2em;
    text-decoration:solid;
    color: #6c3483;
    font-weight:bold;
    margin-bottom: 2em;
}

/*solo para reglas*/
h1{
    margin: 1em 0;
}

ul{
    display: flex;
    margin-left: 1em;
    font-family: "IM Fell Double Pica SC", serif;
    flex-direction: column;
    gap: 0.1em;
}

#boton_inf_juego{
    @include boton(#6c3483, #bb8fce, white,#5b2c6f,#4a235a,#633974);
}

#preguntas{
    position: absolute;
    display: flex;
    justify-content: center;
    height: calc(100vh - 3.9em);
    min-width: 100vh;
    overflow: hidden;
    padding: 0.5em;
}

.pregunta{
    min-width: 50%;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /*transform: translateX(100%);*/
    transition: transform 0.3s ease;
    border-radius: 1em;
    border: 1px solid;
    padding: 1em;
}

.pregunta-entrando{
    width: 100%;
    background-color: #d5f5e3;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.pregunta-saliendo{
    width: 100%;
    background-color: #5b2c6f;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#titulo{
    font-size: 1.8em;
    text-align: center;
    font-family: "Sail", system-ui;
    font-weight: 400;
    color:black;
}

#content-respuestas{
    display: flexbox;
    flex-wrap: wrap;
    gap:1em;
    justify-content: center;
    margin: 1.5em 0;
}

.boton-respuestas{
    @include botonBasico(#e5e7e9,#626567);
    @include botonRespuestas(#cacfd2, #f2f3f4 , #cacfd2, #424949)
}

.boton-respuesta-correcta{
    @include botonBasico(#a2d9ce,#138d75);
    @include botonRespuestas(#1abc9c, #28b463, #117a65, #0e6655)
}

.boton-respuesta-incorrecta{
    @include botonBasico(#a93226,#f5b7b1);
    @include botonRespuestas(#e6b0aa, #cd6155, #641e16, white)
}