//contenedor de la categoria, el cuadro de la imagen, nombre y puntos
.Categorias{
    border-radius: 10px;
    border: solid 2px #cacfd2;
    min-width: 252px;
    min-height: 252px;
    margin: 2em;
    padding: 2px;
    background-color: #f2f3f4;
    font-family: "Oswald", sans-serif;
    box-shadow: 2px 1px 2px #eaeded,
                2px 2px 2px #eaeded;
    transition: box-shadow .2s ease, transform .2s ease;
    cursor: pointer;
}

//cuando el mouse esta sobre la categoria
.Categorias:hover{
    box-shadow: 4px 4px 12px  #eaeded,
                4px 4px 10px #eaeded;
    transform: scale(1.05);/*agranda a un 10% el conteedor*/
}

.Categorias:active{
     box-shadow: 4px 4px 12px #c570ea,
                4px 4px 10px #c570ea;
    transform: scale(0.97);/*agranda a un 10% el conteedor*/
}

//contenedor de la imagen de la categoria
.content_img_categoria{
    display: flex;
    align-content: center;
    justify-content: center;
}

//contenedor principal, la pantalla principal
#content_main{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 3.9em);
    justify-content: center;
}

//la informacion:nombre y puntos
.content_inf_categoria{
    display: flex;
    flex-direction: row;
    text-overflow: none;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
}

//puntos totales dle jugador
#content_punto_total{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;

}

//estilo de cuando no hay mensajes
#mensaje_sin_categorias{
    margin-top: 20%;
    text-align: center;
    font-size: 3em;
    color: #cacfd2;
}