<div id="main">
    <div id="main-agregar-categoria">
        <h2 id="titulo">Crear categoria-pregunta</h2>
        <p id="cantidad-preguntas">Cantidad preguntas: {{contadorPreguntas}}</p>
        <input type="text" placeholder="Nombre categoria" [(ngModel)]="nombreCategoria" class="entrada">
        <p>seleccionar categoria existente</p>
        <select name="nombreCategorias" [(ngModel)]="nombreCategoria" class="entrada">
                @for(nombre of nombreCategoriasExistentes; track nombre){
                    <option [value]="nombre">{{nombre}}</option>
                }
            </select>
                <div class="pregunta">
                    <div class="content-row">
                        <div>
                            <p>Enunciado de la pregunta</p>
                            <input type="text" class="entrada" [(ngModel)]="pregunta.nombre">
                        </div>
                        <div>
                            <p>dificultad</p>
                            <select name="dificultad" id=""  [(ngModel)]="pregunta.dificultad" class="entrada">
                                <option value="easy">easy</option>
                                <option value="medium">Medium</option>
                                <option value="hard">Hard</option>
                            </select>
                        </div>
                    </div>
                    <p>Tipo pregunta</p>
                    <select name="type" [(ngModel)]="pregunta.tipo" class="entrada" style="min-width: 98%;">
                        <option value="boolean">boolean</option>
                        <option value="multiple">multiple</option>
                    </select>
                
                    <div id="respuestas">
                        <!--Para agregar preguntas booleanas-->
                        @if(pregunta.tipo=="boolean"){
                            <p>Seleccione la pregunta correcta</p>
                            <select (click)="agregarRespuestaBooleana(true,respuestaBoolean.value)" #respuestaBoolean  class="entrada">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        }@else if(pregunta.tipo=="multiple"){
                            <p>Respuesta correcta</p>
                            <input type="text"  class="entrada" [(ngModel)]="pregunta.respuestasCorrecta">
                            <hr style="border: 1px solid transparent; margin-bottom: 0.5em;">
                            <p>Respuestas incorrectas</p>
                            <input type="text"  class="entrada" [(ngModel)]="respuestasIncorrecta[0]">
                            <input type="text"  class="entrada" [(ngModel)]="respuestasIncorrecta[1]">
                            <input type="text"  class="entrada" [(ngModel)]="respuestasIncorrecta[2]">
                            <hr style="border: 1px solid transparent;">
                        }
                    </div>
                </div>
                <p class="error">{{errorPregunta}}</p>
                <p class="error">{{errorCategoria}}</p>
        <div class="content-row">
            <button (click)="agregarPregunta()" class="ingresar">Agregar pregunta</button>
            @if(contadorPreguntas>=1){
                <button (click)="guardarPregunta()" class="guardar">Guardar</button>
            }
        </div>
        </div>
</div>