<div id="main-juego-admin">
    <div id="tabla">
        <h1 class="titulo">Categorias</h1>
        <button class="boton_agregar" (click)="routerAgregarCategoria()">➕ AGREGAR</button>
        <table class="tabla">
            <thead>
                <tr>
                    <th scope="col"><strong>Id</strong></th>
                    <th scope="col"><strong>Nombre</strong></th>
                  
                </tr>
            </thead>
            <tbody>
                @for(categoria of categorias; track categoria; let index = $index){
                    <tr>
                        <th scope="row">{{categoria.idCategoria}}</th>
                        <td>
                            <div class="content-nombre">
                                {{categoria.nombre}}
                                <div class="content-botones">
                                    <button class="boton-eliminar" (click)="eliminarCategoria(categoria.idCategoria)">Eliminar ❌</button>
                                    <button  class="boton-modificar" (click)="routerModificarCategoria(categoria)">Modificar 🛠️</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   

</div>